body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

:root {
    --black: #000000;
    --white: #ffffff;
    --blue: #143E7A;
    --grey: #E7F3FD;
    --five: pink;
}

header {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.logo {
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 0 auto;
}

h1 {
    color: var(--grey);
    background-color: var(--blue);
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%
}

#menuButton {
    font-size: 2rem;
    color: var(--grey);
    background-color: var(--blue);
    border: none;
    position: absolute;
    top: 2rem;
    right: 1rem;
}

#navMenu {
    display: none;
}

#navMenu.show {
    display: block;
    width: 100%;
    background-color: var(--blue);
}

nav a {
    color: var(--grey);
    text-decoration: none;
}

nav a:hover {
    color: var(--white);
}


nav a:visited {
    color: var(--five);
}

nav.show {
    display: flex;
    flex-direction: column;
    background-color: var(--header);
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}


.slideshow {
    padding: 1 rem;
    border: 1px solid var(--text);
    width: 100%;
    max-width: 1000px;
}

.slideshow img {
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
}

footer {
    color: var(--five);
    background-color: var(--blue);
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

/*pugs-contact*/
fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

input {
    padding: 50px;
}

.submit {
    margin-top: 1rem;
    color: var(--grey);
    background-color: var(--blue);
    font-size: 1.2rem;
    padding: 50px;
}

.suca {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

/* pugs-faq */

h2 {
    color: var(--blue);
}

p {
    width: 100%;
    margin-top: 3rem;
}


figcaption {
    width: 100%;
    max-width: 400px;
}

.faq {
    width: 100%;
    max-width: 400px;
}

@media screen and (min-width: 500px) {

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        width: 100%
    }

    .slideshow {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}