body {
    display: grid;
    grid-template: auto;
    padding: 1rem;
}

header {
    background: gold;
    grid-column: 1 / 5;
}

div {
    display: flex;
    place-items: center;
    background: black;
    height: 50px;

}

.box {
    background: gold;
    color: black;
    grid-column: 1 / 5;
    padding-left: 1rem;
}

.navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: auto;
    font-family: sans-serif;
    font-size: small;
    color: white;
}

main {
    background: ivory;
    height: 200px;
    grid-column: 1 / 4;
    padding: 1rem;
}

aside {
    background: palegoldenrod;
    grid-column: 4 / 5;
    padding: 1rem;
}

footer {
    background: gold;
    padding: 1rem;
    grid-column: 1 / 5;
    ;
}