body {
    font-family: sans-serif;
    display: grid;
    grid-template-columns: auto 200px auto auto;

}

header {
    background: gold;
    grid-column: 1 / 5;
    text-align: center;
}

figure {
    border: 10px solid goldenrod;
    max-width: 200px;
    padding: 10px;
}

figcaption {
    padding: 5px;
    font-style: italic;
    font-size: small;
    max-width: 200px;
}

div {
    display: flex;
    place-items: center;
    background: #002E5D;
    height: 50px;

}


h1 {
    grid-column: 1 / 5;
    text-align: center;
}

h3 {
    text-align: center;
}

.navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: auto;
    font-family: sans-serif;
    font-size: small;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.left-sidebar {
    background: ivory;
    display: grid;
    grid-column: 1 / 2;
    margin-top: 9px;
    border: 1px solid transparent;
    box-shadow: 2px 5px 5px 5px #cce5ff;
}

.card a {
    color: #002E5D;
}

a:hover {
    color: gold
}

main {
    background: lightyellow;
    display: grid;
    grid-column: 1 / 5;
}

img.about {
    display: grid;
    grid-column: 2 / 3;
    padding-right: 20px;
}

footer {
    background: gold;
    padding: 1rem;
    grid-column: 1 / 5;
    text-align: center;
}