* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background: var(--primary-color);
    color: var(--secondary-color);
    grid-column: 1 / 4;
    font-size: 1rem;
    padding: 1rem 0 1rem;
    text-align: center;
}

header span {
    display: block;
}

.navigation {
    list-style: none;
    display: flex;
    background-color: var(--secondary-color);
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: var(--card-background);
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
}

.navigation a:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

main {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    width: 98%;
}

.card {
    background: var(--background-color);
    display: block;
}

h1 {
    font-size: 1.2rem;
    padding: 1rem;
    display: grid;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    text-align: center;
}

h2 {
    font-size: 1rem;
    padding: 1rem;
    display: grid;
    grid-column: 1 / 3;
    text-align: center;
    background-color: var(--primary-color);
}

.card1a {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding: 1rem 2rem;
}

.card1a img {
    float: right;
    margin: 0 0 15px 15px;
    border: 1px solid rgba(0, 0, 0, .3);
    box-shadow: 0 0 30px black;
}

.card1b {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    padding: 1rem 1rem 2rem;
}

.card1b img {
    float: left;
    margin: 1rem 1rem 15px 15px;
    border: 1px solid rgba(0, 0, 0, .3);
    box-shadow: 0 0 30px black;
}

.card2 {
    background-color: var(--secondary-color);
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    padding: 1rem 1rem 2rem;

}

.card2 a {
    color: var(--card-background);
    text-decoration: none;
    padding: 0.75rem 0.5rem;
}

footer {
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem 0 6rem;
    text-align: center;
    grid-column: 1 / 4;
    grid-row: 4;
}

:root {
    --primary-color: #f9cc50;
    --secondary-color: black;
    --background-color: white;
    --card-background: #fffdd0;
}