body {
    font-family: sans-serif;
    display: grid;
    grid-template-columns: auto 200px auto auto;
    /* padding: 1rem; */
}

header {
    background: gold;
    grid-column: 1 / 5;
    text-align: center;
}

/* .course-title {
    display: block;
} */

figure {
    border: 10px solid goldenrod;
    max-width: 200px;
    /* display: grid; */
    /* grid-column: 2 / 3; */
    padding: 10px;
}

figcaption {
    padding: 5px;
    font-style: italic;
    font-size: small;
    max-width: 200px;
}

.about {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
}

div {
    display: flex;
    place-items: center;
    background: #002E5D;
    height: 50px;

}


h1 {
    grid-column: 1 / 5;
    text-align: center;
}

/* .box {
    background: gold;
    color: black;
    grid-column: 1 / 5;
    padding-left: 1rem;
} */

.navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: auto;
    font-family: sans-serif;
    font-size: small;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.card a {
    color: black;
}

a:hover {
    color: gold
}

main {
    background: lightyellow;
    display: grid;
    grid-column: 1 / 5;
    /* padding: 1rem; */
}

img.about {
    display: grid;
    grid-column: 2 / 3;
    padding-right: 20px;
}

/* aside {
    background: palegoldenrod;
    grid-column: 1 / 1;
    padding: 1rem;
} */

.left-sidebar {
    background: ivory;
    display: grid;
    grid-column: 1 / 2;
    padding: 1rem;
}

footer {
    background: gold;
    padding: 1rem;
    grid-column: 1 / 5;
    text-align: center;
}