form {
    width: 100%;
    max-width: 600px;
}

fieldset {
    margin: 16px;
    background-color: whitesmoke
}

label {
    display: block;
    text-align: left;
}

.product {
    height: 44px;
}

input {
    height: 44px;
    vertical-align: middle;
}

input[type=radio] {
    vertical-align: middle;
}

.star {
    font-size: 1.2rem;
    font-style: strong;
    -webkit-text-stroke: 0.5px black;
}

.features {
    font-style: italic;
    font-size: 0.9rem;
    color: darkblue;
}

input[type=text] {
    width: 500px;
    max-width: 100%;
}

input[type=submit] {
    width: 600px;
    height: 50px;
    margin: 0 5% 0 5%;
    max-width: 90%;
    font-size: 1.3rem;
}

@media screen and (min-width: 1600px) {
    .features {
        color: darkred;
    }
}