:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --color-green1: #63927c;
    --color-green2: #59ab1e;
    --color-green3: #005e2c;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

header {
    color: var(--background-color);
    background-color: var(--color-green3);
}


h1 {
    text-align: center;

}

.tag {
    text-align: center;
}

main {
    display: grid;
    position: relative;
}

figure {
    width: fit-content;
    margin: 0 auto;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

img {
    display: block;
    margin: 0 auto;
}

figcaption {
    text-align: right;
}

table {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
}

td {
    font-size: 0.8rem;
}

.data {
    background-color: var(--color-green3);
    color: var(--background-color);
    margin: 2rem auto;
}

.weather {
    background-color: var(--color-green2);
}

.weather th::after {
    content: "";
    background-image: url("/images/temps.svg");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
}

ul li::marker {
    content: "";
}

footer {
    text-align: center;
    color: var(--background-color);
    background-color: var(--color-green3);
}

@media screen and (min-width: 1000px) {
    main {
        grid-template-columns: 1fr 1fr auto;
    }

    .hero {
        grid-column: 1 /4;
        position: relative;
    }


    .data {
        background-color: var(--color-green3);
        color: var(--background-color);
        position: absolute;
        top: 5%;
        left: 5%;
        width: 25%;
    }

    .weather {
        background-color: var(--color-green2);
        position: absolute;
        bottom: 5%;
        right: 5%;
        width: 25%;

    }

}